{% extends 'base.html.twig' %}

{% block body %}
    <div class="chat-container">
        <div class="chatroom-list">
            <h2>Chatrooms</h2>
            <ul>
                {% for chatroom in chatrooms %}
                    <li><a href="{{ path('app_chat_room', {'id': chatroom.id}) }}">{{ chatroom.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="chat-messages">
            <h2>Select a chatroom</h2>
        </div>
    </div>
{% endblock %}